models/*.pth filter=lfs diff=lfs merge=lfs -text
models/*.pt filter=lfs diff=lfs merge=lfs -text
models/*.onnx filter=lfs diff=lfs merge=lfs -text
models/*.h5 filter=lfs diff=lfs merge=lfs -text
datasets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
